/Ram/*.cr.mti
/Ram/*.mpf
/Ram/*.wlf
/Ram/work

/Shift Register/*.cr.mti
/Shift Register/*.mpf
/Shift Register/*.wlf
/Shift Register/work

/Button Sequence Detect/*.cr.mti
/Button Sequence Detect/work
/Button Sequence Detect/*.mpf
/Button Sequence Detect/*.wlf
